:root {
  /* x coordinate */
    --posX: 0;     
  
   /* y coordinate */
    --posY: 0;
  
  /* colour of snake */
    --color: #0BAD61;

  /* snake head rotation */
    --rotation: -90deg;

  /* center the snake head */
    --middlex: 5px;
    --middley: 5px;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

  /* Body of Snake */
  div{
    height:15px;
    width:15px;
    /* borde-radius: 50%; */
    position:absolute;
    top:var(--posY);
    left:var(--posX);
    border-radius: 4px;
    background-color: var(--color);
  }
  .snake0{
    height:25px;
    width:25px;
    background-image: url('../assets/snake.png');
    background-position: center;
    background-size: contain;
    background-color: inherit;
    transform: rotate(var(--rotation)) translateX(var(--middlex)) translateY(var(--middley));
    
  }

  /* Food */
  article{
    height:20px;
    width:20px;
    border-radius:50%;
    position: absolute;
    top:var(--posY);
    left:var(--posX);
    background-image: url('../assets/bat.png');
    background-position: center;
    background-size: contain;
  }

  /* Radio Button(levels) Container */
  span{
    margin:2rem;
    display: flex;
    align-items: center;
  }

  /* Radio button(levels) class */
  .level{
    height:1.5rem;
    width: 1.5rem;
    margin-left: 1.5rem;
  }

  /* Start button and Stop button container */
  .home, .stop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    background-color: rgba(0, 0, 0, 0.432);
  }

  /* Start and Stop buttons */
  #start,#stop{
    width:150px;
    height:70px;
    border-radius: 2rem;
    transition: .4s;
    background-color: orangered;
    color:white;
    border: 5px solid orangered;
    /* border:none; */
  }
  #start:hover,#stop:hover{
    color:orangered;
    background-color: white;
  }
  #start:active,#stop:active,#start:focus,#stop:focus{
    background-color: orangered;
    color:white;
    outline: none;
  }

  .hide{
    display: none;
  }

  /* Score count container */
  p{
    position:absolute;
    bottom:30px;
    margin:0;
    font-size: 22;
    font-weight: 700;
    left:30px;
  }

  /* tells to press ESC to quit */
  h6{
    margin:0;
    position:absolute;
    bottom:10px;
    left:30px;
  }

  /* Control buttons for snake */
  .controls{
    z-index: -1;
    position: absolute;
    bottom: 0;
    right:0;
    width:300px;
    height:100px;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .control-buttons{
    -webkit-appearance: none;
    border: 2px solid orangered;
    background-color: white; 
    color:orangered;

  }
  
  #up{
    grid-row: 1/2;
    grid-column: 2/3;
    border-bottom: none;
  }
  /* I only had one arrow, so I just rotated it to show different directions */
  #up img{
    transform: rotate(180deg);
  }
  #down{
    grid-row: 2/3;
    grid-column: 2/3;

  }
  #left{
    grid-row: 1/3;
    grid-column: 1/2;
    border-right: none;
  }
  #left img{
    transform: rotate(90deg);
  }
  #right{
    grid-row: 1/3;
    grid-column: 3/4;
    border-left: none;
  }
  #right img{
    transform: rotate(-90deg);
  }

@media screen and (orientation:portrait){
  .controls{
    width:100vw;
  }
  p{
    bottom: inherit;
    top:30px;
  }
  h6{
    display:none;
  }
}